<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Courses</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/comment.css' %}">
    </head>
    <body>
        <div id="wrapper">
            <div id="add_comment">
                <h2>Add a comment about {{course_to_comment.name}}</h2>
                <form action = "/add_comment/{{course_to_comment.id}}" method = "POST">
                    {% csrf_token %}
                    <p>Comment: <textarea name = "content"></textarea></p>
                    <button type="submit">Add</button>
                </form>
            </div>      <!--end add_comment-->
            <div id="display_comments">
                <p>Comments about {{course_to_comment.name}}</p>
                <ul id="comments">
                    {% for comment in course_to_comment.comments.all %}
                        <li>{{comment.content}}</li>
                    {% endfor %}
                </ul>
            </div>      <!--end display_comments-->
            <a href="/" id="go_back">Back to Courses</a>
            
        </div>        <!--end wrapper-->
    </body>
</html>