* {
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

#wrapper {
    width: 900px;
    margin: 100px auto;
    padding: 10px;
    border: 3px solid rgb(90, 32, 90);
}

#errors {
    color: red;
}

h2 {
    margin-bottom: 20px;
}

p {
    margin-bottom: 10px;
}

#name_input {
    margin-left: 41px;
    width: 50%;
}

#desc_input {
    margin-left: 5px;
    width: 50%;
}

button {
    padding: 5px;
    border-radius: 3px;
    margin: 0px 0px 10px 505px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 25px;
}

table, th, td {
    border: 2px solid rgb(77, 77, 201)
}

th, td {
    padding: 5px;
}